body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
    text-align: right;
}
header {
    background-color: rgb(33, 116, 163);
    text-align: center;
    padding: 10px 0px;
}
.div0 h1 {
    margin: 0px;
}
nav ul {
    list-style: none;
    padding: 0px;
}
ul li {
     margin: 0px 15px;
     display: inline;
}
li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.div0 {
    padding: 5px 0px;
}
.div1 {
    padding: 20px;
    margin: 20px;
    background-color:whitesmoke;
    border-radius: 15px;
}
.div1 h2{
    color: rgb(33, 116, 163);
}
footer {
    background-color: rgb(33, 116, 163);
    margin: 0px;
    padding: 1px 0px;
}
.div0 .bb {
    color: white;
    text-align: center;
}